<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.secretproject.photoprogress">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".notifications.NotificationReceiver"
            android:enabled="true" />

        <service android:name=".notifications.NotificationService" />

        <activity
            android:name=".activities.SetNotificationActivity"
            android:label="@string/title_activity_set_notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TakePhotoActivity"
            android:label="@string/title_activity_take_photo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PhotoAlbumOverviewActivity"
            android:label="@string/title_activity_photo_album_overview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AlbumVideoActivity"
            android:label="@string/title_activity_album_video"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
